*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
}

html {
  font-size: 18px;
}

body {
  font-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-family: "Josefin Sans", sans-serif;

  background-color: var(--background);
}

body::before {
  content: "";
  display: none;
  position: fixed;
  background-image: url(./images/confetti.svg);
  width: 100%;
  z-index: 100;
  height: 100%;
}

.confetti::before {
  display: block;
}

.light {
  --background: #fafafa;
  --background-image: url(./images/bg-desktop-light.jpg);
  --background-image-mobile: url(./images/bg-mobile-light.jpg);
  --icon: url(./images/icon-moon.svg);
  --border: #e3e4f1;
  --todo-background: #fff;
  --todo-text: #494c6b;
  --todo-placeholder: #9495a5;
  --todo-completed: #d1d2da;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.dark {
  --background: #171823;
  --background-image: url(./images/bg-desktop-dark.jpg);
  --background-image-mobile: url(./images/bg-mobile-dark.jpg);
  --icon: url(./images/icon-sun.svg);
  --border: #393a4b;
  --todo-background: #25273d;
  --todo-text: #c8cbe7;
  --todo-placeholder: #767992;
  --todo-completed: #4d5067;
  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

button {
  background: transparent;
  border: 0;
  font-family: serif;
}

label {
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

ul,
li {
  list-style-type: none;
}

body,
.switch {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  box-shadow: var(--box-shadow);
  background-image: var(--background-image-mobile);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.switch {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: var(--icon);
}

.todo-app {
  position: relative;
  margin: 2rem 24px 0;
}

.todo-app__header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-app__heading {
  color: var(--white);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 15px;
}

.todo-list {
  margin-top: 24px;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--box-shadow);
  background-color: var(--todo-background);
}

.todo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--todo-background);
  font-size: 18px;
  color: #494c6b;
}

.add {
  box-shadow: var(--box-shadow);
}

.todo:is(.add) #add-checkbox {
  display: inline-block;
  vertical-align: middle;
  min-width: 20px;
  width: 20px;
  height: 20px;
}

.todo + .todo {
  border-top: 1px solid var(--border);
}

.todo.completed .todo__text {
  color: var(--todo-completed);
  text-decoration: line-through;
}

.todo__checkbox {
  display: none;
}

.todo__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.todo__label {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.todo:not(.add) .todo__label::before,
.todo:is(.add) #add-checkbox::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  border-radius: 20px;
}

.todo:not(.add):not(.completed) .todo__label:hover::before {
  border: 1px solid transparent;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  -webkit-mask:
    /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask:
    /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.todo:not(.add).completed .todo__label::before,
.todo:is(.add) #add-checkbox:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/%3E%3C/svg%3E");
  text-align: center;
  line-height: 20px;
  border: 0;
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}

.todo__text::first-letter {
  text-transform: capitalize;
}

.todo__container,
.todo__text {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

/* .todo__text {
	height: 16px;
} */

.todo__delete {
  margin-right: 24px;
  width: 18px;
  height: 18px;
  background: url(./images/icon-cross.svg);
}

.todo__delete:hover {
  transform-origin: center center;
  transform: rotate(90deg);
}

.todo__input {
  display: block;
  width: 100%;
  border: 0;
  height: 24px;
  font-size: 14px;
  color: #494c6b;
  letter-spacing: -0.25px;
  background: transparent;
}

.todo__input:focus {
  outline: none;
}

.todo__input::placeholder {
  font-size: 14px;
  color: var(--todo-placeholder);
}

.todos-footer {
  position: relative;
  padding: 16px 24px;
  /* display: none; */
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  background: var(--todo-background);
}

.todos-footer.flex {
  display: flex;
}

.todos-footer.none {
  display: none;
}

.todos-footer__count,
.filter-label,
.clear {
  font-size: 14px;
  color: var(--todo-placeholder);
}

.filter-label:hover,
.clear:hover {
  color: var(--todo-text);
}

.clear {
  cursor: pointer;
}

.filter-label {
  cursor: pointer;
  margin: 0 4px;
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-radio {
  display: none;
  opacity: 0;
}

.filter-radio:checked + span {
  color: #3a7cfd;
}

.none-completed {
  padding: 24px;
  text-align: center;
  color: var(--todo-placeholder);
}

.drag-drop-text {
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin: 50px auto;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.19px;
  color: var(--todo-placeholder);
}

@media only screen and (max-width: 40em) {
  .filter-buttons {
    position: absolute;
    top: 140%;
    padding: 15px 0;
    /* width: 100%; */
    left: 0;
    text-align: center;
    right: 0;
    border-radius: 5px;
    background: var(--todo-background);
    box-shadow: var(--box-shadow);
  }
}

@media only screen and (min-width: 41em) {
  .background {
    height: 300px;
    background-image: var(--background-image);
  }

  .todo-app {
    max-width: 540px;
    margin: 4rem auto 0;
  }

  .todo-app__header {
    margin-bottom: 56px;
  }

  .todo-app__heading {
    font-size: 40px;
  }

  .todo__label {
    padding: 20px 24px;
  }

  .todo__text {
    /* height: 20px; */
    font-size: 18px;
  }

  .todo__input,
  .todo__input::placeholder {
    font-size: 18px;
  }

  .todo__delete {
    opacity: 0;
    transition: opacity, 0.4s cubic-bezier(0.19, 1, 0.22, 1),
      transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .todo:hover .todo__delete {
    opacity: 1;
  }

  .todo__checkbox {
    width: 24px;
    height: 24px;
  }

  .todo:is(.add) #add-checkbox {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }

  .todo:not(.add) .todo__label::before,
  .todo:is(.add) #add-checkbox::before {
    margin-right: 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 24px;
    line-height: 24px;
  }

  .todo:not(.add).completed .todo__label::before,
  .todo:is(.add) #add-checkbox:hover::before {
    line-height: 24px;
    border: 0;
  }

  .drag-drop-text {
    bottom: -6rem;
  }
}
